.cache
public
node_modules
!yarn.lock

# Don’t ignore images, pdfs
!*.pdf
!*.png
!*.jpg
!*.gif

# Non zero-install (https://next.yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Themes have their own repos
gatsby-theme-intro
gatsby-theme-intro-academic
